body * {
  display: block;
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a.button {
  height: 50px;
  background-color: #9a9a9a;
  color: white;
  font-size: 30px;
}

a.search {
  margin-top: 10px;
}

input {
  height: 50px;
}
