$primary: #134783;
$highlight: #fe7a00;
$bgMain: #FFFFFF;
$bgLight: #f7f7f7;

$bodyMain: #595858;
$bodyLight: #7b7b7b;

$rowHeight:40px;
$rowMargin:20px;

$buttonHeight:50px;
$buttonColor:#FFFFFF;
$buttonBack:#9a9a9a;
$buttonFontSize:30px; 

html.landing
{
    background-color:$highlight;
    min-height:100%;
}

body *
{
    display:block;
    width:100%;
    vertical-align:middle;
    box-sizing:border-box;
}

footer
{
    padding:30px;
    background-color:$highlight;
    color:#FFFFFF;
}

.detail footer
{   
    margin-top:60px;
}

.header
{
    background-color:#FFFFFF;
}

.home
{
   overflow:hidden;
    height:320px;
    width:100%;
    white-space:nowrap;
    background-color:#FFFFFF;
}

.home.right, .home.right *
{
    direction:rtl; 
}

.home img
{
    display:inline-block;
    width:auto;
    height:100%;
}

.home a
{
    display:inline;
    height:100%;
}

@media screen and (max-width: 1300px)
{
    .home
    {
        height:240px;
    }
    
}

@media screen and (max-width: 568px)
{
    .home
    {
        height:140px;
    }
    
}

.logo
{
    width:auto;
}

a
{
    text-decoration:none;
}

a.button
{
    height:$buttonHeight;
    background-color:$buttonBack;
    color:$buttonColor;
    font-size:$buttonFontSize;
}

a.search
{
    margin-top:10px;
}

input
{
    height:$buttonHeight;
}

.grid .unit.middlebar
{
    background-color:$highlight;
    padding:20px;
    font-size:36px;
    color:#FFFFFF;
    text-align:center;
}

.detail h1
{
    font-size:36px;
}

.detail h2
{
    font-size:30px;
}

.detail
{
    font-size:18px;
}

.button.buy
{
    height:80px;
    max-width:320px;
}