html.landing {
  background-color: #676767;
  min-height: 100%;
}

body * {
  display: block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

footer {
  padding: 30px;
  background-color: #828282;
  color: #FFFFFF;
}

footer img {
  width: auto;
}

.detail footer {
  margin-top: 60px;
}

.header {
  background-color: #FFFFFF;
}

.home {
  overflow: hidden;
  height: 160px;
  width: 100%;
  white-space: nowrap;
  background-color: #000000;
}

.home.right, .home.right * {
  direction: rtl;
}

.home img {
  display: inline-block;
  width: auto;
  height: 100%;
}

.home a {
  display: inline;
  height: 100%;
  letter-spacing: -5px;
}

@media screen and (max-width: 1400px) {
  .home {
    height: 130px;
  }
}
@media screen and (max-width: 568px) {
  .home {
    height: 70px;
  }
}
.logo {
  width: auto;
}

a {
  text-decoration: none;
}

a.button {
  height: 50px;
  background-color: #828282;
  color: white;
  font-size: 30px;
}

.filter a.button {
  background-color: #FFFFFF;
  color: #595858;
  border: 1px solid #595858;
}

.search {
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #676767;
}

input {
  height: 50px;
}

.grid .unit.middlebar {
  background-color: #676767;
  padding: 20px;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
}

.detail h1 {
  font-size: 36px;
}

.detail h2 {
  font-size: 30px;
}

.detail {
  font-size: 18px;
}

.button.buy {
  height: 80px;
  max-width: 320px;
}
